@import "tailwindcss";

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f4f7;
      font-family: 'HelveticaCustom', sans-serif;

}


  @font-face {
    font-family: 'Helvetica';
    src: url('./assets/helvetica/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

.custom-tabs .ant-tabs-nav-list {
  display: flex;
  justify-content: space-between; 
  width: 100%;
  gap: none;
}

.custom-tabs .ant-tabs-tab {
  margin: 0 !important; 
  flex: 1;              
  justify-content: center; 
  background-color: transparent;
  border-radius: 8px;
  padding: 0px 25px;
  transition: none;
  height: 60px;
  font-weight: 400 !important;

}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  font-weight: 400 !important;

}
.custom-tabs .ant-tabs-tab-active {
  background-color: #fff6e3;
}

.custom-tabs .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(32, 32, 32) !important;
  font-weight: 400 !important;
}
.ant-tabs-tab-btn:hover {
  color: none
}
.custom-tabs .ant-tabs-tab:hover {
  color: black !important;
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: #f79009 !important;
  height: 3px;
  border-radius: 2px;
  transition: none;
}
